/*  format Logo*/
#Logo {
  /* background-color: rgb(235, 232, 255); */
  margin: 0px;
  top: 0px;
  padding-bottom: 5%;
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: Tahoma, Verdana, Helvetica, Arial, Courier;
  color: rgb(32, 104, 43);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(151, 151, 241), 0 0 5px rgb(104, 104, 236);
}

h1 {
  margin: 0px;
  padding-bottom: 5%;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  font-family: Tahoma, Verdana, Helvetica, Arial, Courier;
  color: rgb(18, 5, 77);
  text-shadow: 1px 1px 2px rgb(196, 142, 228), 0 0 25px rgb(213, 151, 241), 0 0 5px rgb(166, 104, 236);
}


h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}



#MainMenu {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

.block-container {
  padding-top: 2rem;
}

/*Format navigation bar*/
.nav-item {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.breadcrumb{
  background-color: rgba(196, 196, 216, 0.938);
  border: none;
}

.breadcrumb-item a {
  margin-left: 0.2rem !important;
  font-size: 40px;
  padding-right: 0%;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(151, 151, 241), 0 0 5px rgb(104, 104, 236);
}

.breadcrumb-item.active {
  color: #098605;
  font-size: 40px;
  margin-left: 0rem;
  text-shadow: 1px 1px 2px #1e4d1c, 0 0 25px rgb(94, 203, 218), 0 0 5px rgb(94, 203, 218);
}



/* format table*/
.table-striped {
  border: 1px solid #828c9b
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgb(248, 249, 252);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(241, 222, 222, 0.959);
  font-weight: bold;
  transform: translateY(-2px);
}

.css-165ax5l.edw49t13 tbody tr:hover {
  background-color: rgba(241, 222, 222, 0.959);
  font-weight: bold;
  transform: translateY(-2px); 
}
tr:hover {
  background-color: rgba(241, 222, 222, 0.959);
  font-weight: bold;
  transform: translateY(-2px);
}

.edw49t11 {
  font-weight: bold;
  color: black;
}


.e1tzin5v2 {
  background-color: white;
  font: 15px;
  border: 2px solid white;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
}

.e1tzin5v2:hover {
  cursor: default;
  font-weight: bold;
  transform: translateY(-5px);
  border: 1px solid #F56692;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}


.e16fv1kl2 {
  font-family: Helvetica, Arial, Courier;
  font-size: 13px;
}

.eyqtai90,
.e1tzin5v3 {
  font-family: Helvetica, Arial, Courier;
  font-size: 16px;
}

.e16fv1kl1 {
  font-family: Helvetica, Arial, Courier;
  font-size: 18px;
}

.block-container {
  padding-top: 2rem;
  background-color: rgba(196, 196, 216, 0.938);
  /* background-color: rgba(233, 236, 243, 0.938); */
}

.st-b7 {
  background-color: white;
  border-radius: 2px;
}

.main-svg {
  position: relative;
  top: 0px;
  left: 0px;
  pointer-events: none;
  object-fit: cover;
  /* max-width: 100%;
  height: auto; */
}

.stPlotlyChart.js-plotly-plot {
  object-fit: cover;
  /* max-width: 100%;  
  height: auto; */
}


.svg-container {
  max-width: 100%;  
  height: auto; 
}


.css-ocqkz7.e1tzin5v4 {
  background-color: rgba(196, 196, 216, 0.938);
  border: none;
  font-size: 12px;
}

.css-ocqkz7.e1tzin5v4 {
  /* background-color: rgba(233, 236, 243, 0.938); */
  background-color: rgba(196, 196, 216, 0.938);
}

.css-1r6slb0.e1tzin5v2,
.css-4uwpl2.e1tzin5v0,
.css-175o9lw.e1tzin5v0,
.css-2cq41o.e1tzin5v3 {
  background-color: white;
  padding: 2% 2% 2% 2%;
  border-radius: 5px;
}

.css-1r6slb0.e1tzin5v2:hover,
.css-4uwpl2.e1tzin5v0:hover,
.css-175o9lw.e1tzin5v0:hover,
.css-2cq41o.e1tzin5v3:hover {
  transform: translateY(-5px);
  background-color: white;
  border: 1px solid #f15785;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
  padding: 2% 2% 2% 2%;
  border-radius: 5px;
}
  
  
  
  
.stPlotlyChart.js-plotly-plot {
  background-color: white;
  border-radius: 5px;
}


p {
  text-align: justify;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2% 2% 2% 2%;
}
p:hover {
  text-align: justify;
  background-color: #d6f7d8;
  border: 2px solid #F56692;
  border-radius: 5px;
  padding: 2% 2% 2% 2%;
}


/* format coin icon */
.coin-icon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 5px;
}
